.timer_style{
    -webkit-background-clip: text;
    background:  linear-gradient(237.35deg, hwb(304 41% 5%) 19.78%, #F34670 54.44%, #C575EB 95.36%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    font-size: 2.5rem;
    font-weight: 600px;
}